extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='mainBody')
    div(class='mainBody__userColumn mainBody__mainColumn coreDisplay')
      h4 Find your favorite recipes and check out what is in your cupboards.
      div Which direction does this go?
      div And this?
      img(class='recipeImage', alt='burrito', src='./images/buritos.jpg')
      div Updates
    div(class='mainBody__recipeColumn mainBody__mainColumn coreDisplay')
      h4 Try out these great recipes below...
      div Recipe 1
      img(class='recipeImage', alt='burrito', src='./images/buritos.jpg')
      div Recipe 2
      img(class='recipeImage', alt='burrito', src='./images/buritos.jpg')
      div Recipe 3
      img(class='recipeImage', alt='burrito', src='./images/buritos.jpg')
      div Recipe 4
      img(class='recipeImage', alt='burrito', src='./images/buritos.jpg')
    div(class='mainBody__newsColumn mainBody__mainColumn coreDisplay')
      h4 Best Recipes, cooks and more!
      div Recipe of 2020
      div Worst recipe of 2020? Find out here
      div Our editor's favorite chefs
