extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  div(class='mainBody')
    div(class='userColumn')
      h4 Find your favorite recipes and check out what is in your cupboards.
      div Which direction does this go?
      div And this?
      div And what about this?
    div(class='recipeColumn')
      h3 Try out these great recipes below...
      div Recipe 1
      div Recipe 2
      div Recipe 3
      div Recipe 4
    div(class='newsColumn')
      h1 Best Recipes, cooks and more!
      div Recipe of 2020
      div Worst recipe of 2020? Find out here
      div Our editor's favorite chefs
