extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js

block content
  div(id='errors')
  div(class='main-body')
    div(class='main-body__user-column main-body__main-column core-display')
      h4 Find your favorite recipes and check out what is in your cupboards.
      img(class='cupboard-image', alt='burrito', src='https://www.fix.com/assets/content/15713/pantry-power-open-graph.jpg')
      div(class='main-body__cupboards-container')
        if user
          div: a(href='/cupboards/saved') View All Saved Recipes
          div: a(href='/cupboards/uncooked') View All Uncooked Recipes
          div: a(href='/cupboards/cooked') View All Cooked Recipes
          div: a(href='/cupboards/favorited') View All Favorited Recipes
        else
          div: a(href='/users/login') View All Saved Recipes
          div: a(href='/users/login') View All Uncooked Recipes
          div: a(href='/users/login') View All Cooked Recipes
          div: a(href='/users/login') View All Favorited Recipes
    div(class='main-body__recipe-column main-body__main-column core-display')
      h4 Try out these great recipes below...
      each recipe in normalizedRecipes
        div(class='recipe recipe-card recipe-title')
          a(class='recipe recipe-image', href=`/recipes/${recipe.id}`)
            img(class='recipe', width= '500px', height= '400px', alt= recipe.name, src= recipe.link)
          div(class='recipe recipe-content')
            h1: a(class='recipe recipe-title', href=`/recipes/${recipe.id}`)= recipe.name
            h2 by #{recipe.author}
            p(class='recipe recipe-description', width= '500px', height= '400px',)= recipe.description
            +saveButtons(recipe)
            +ratingButtons(recipe)
    div(class='main-body__news-column main-body__main-column core-display')
      h4 Best Recipes, cooks and more!
      div Recipe of 2020
      div Worst recipe of 2020? Find out here
      div Our editor's favorite chefs
  script(src='/javascripts/saveRecipe.js' type="module" defer)
  script(src='/javascripts/rateRecipe.js' type="module" defer)
