doctype html
html
  head
      block head
        title GoodCooks - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      div= user.id
      div= user.username
      div= user.email
      form(action='/users/logout', method='post')
        button(type='submit') Logout
    else
      a(href='/users/register') Register
      a(href='/users/login') Login
    block content
