doctype html
html
  head
    block head
      title GoodCooks - #{title}
      link(rel='stylesheet', href='/stylesheets/home.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css')
      link(rel='stylesheet', href='/stylesheets/reset.css')
  header(class='header')
      nav(class='navbar core-display')
        div(class='navbar__container navbar__container-left')
          a(class='navbar__logo navbar__link', href='/')
            img(alt='GoodCooks Logo', width='200px', height='200px', src='/images/goodcookslogo.png')
          if locals.authenticated
            div(class='navbar__text') Welcome #{user.username}!
        div(class='navbar__container navbar__container-middle')
          form(class='searchForm' action="/recipes/search")
            input(class='navbar__link searchbar',type='text',id='searchBar' placeholder='Find Recipes')
            button(class='navbar__link searchbar', id='searchIcon',type='submit')
              i(class="fas fa-search")
        if locals.authenticated
          div(class='navbar__container navbar__container-right')
            a(class='navbar__link navbar__button', href='/') Home
            a(class='navbar__link navbar__button', href='/recipes') Browse
            a(class='navbar__link navbar__button', href='/users') My Recipes
            form(action='/users/logout', method='post')
              button(class='navbar__link navbar__button', type='submit') Logout
        else
          div(class='navbar__container navbar__container-right')
            a(class='navbar__link navbar__button', href='/users/register') Register
            a(class='navbar__link navbar__button', href='/users/login') Login
  body(class='body')
    block content
  footer(class='footer core-display')
    div(class='footer__div')
      h3(class='footer__h3') About Us
      p(class='footer__p') GoodCooks is the world’s largest site for recipes and recipe recommendations. Our mission is to help people find and share recipes they love.
    div(class='footer__div')
      h3(class='footer__h3') Company
        ul
          li
            a(class="footer__link" href="#") Contact Us
          li
            a(class="footer__link" href="#") Careers
          li
            a(class="footer__link" href="#") Terms
          li
            a(class="footer__link" href="#") Help
    div(class='footer__div')
      h3(class='footer__h3') Learn More
        ul
          li
            a(class="footer__link" href="#") Subscribe
          li
            a(class="footer__link" href="#") Newsletter
          li
            a(class="footer__link" href="#") Advertise
          li
            a(class="footer__link" href="#") Apps
    div(class='footer__div')
      h3(class='footer__h3') Connect
        a(class="footer__link" href="#")
          img(src='https://s.gr-assets.com/assets/site_footer/footer_facebook-ea4ab848f8e86c5f5c98311bc9495a1b.svg')
        a(class="footer__link" href="#")
          img(src='https://s.gr-assets.com/assets/site_footer/footer_twitter-126b3ee80481a763f7fccb06ca03053c.svg')
        a(class="footer__link" href="#")
          img(src='https://s.gr-assets.com/assets/site_footer/footer_instagram-d59e3887020f12bcdb12e6c539579d85.svg')
        a(class="footer__link" href="#")
          img(src='https://s.gr-assets.com/assets/site_footer/footer_linkedin-5b820f4703eff965672594ef4d10e33c.svg')
