extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/review.css")

block content
  div(class='review-page core-display')
    div(class='review-page__review-container')
      div(class='review-info-container')
        img(class='image review-image', src=normalizedRecipe.link)
        h3(class='review-info__review-title') #{normalizedRecipe.name}
          div(class='review-info__review-author') by #{normalizedRecipe.author}
      div(class='review-rating')
        div(class="review-rating_flex-item") My rating
        +ratingButtons(normalizedRecipe)
      form(class='review-form', action=`/recipes/${normalizedRecipe.id}/review`, method='post')
        div
          label(for='review-content__label') What did you think?
        div
          textarea(placeholder='Please leave a star rating and post your thoughts here.',class='review-content__textarea', name='review-content')
        div
            button(type='submit') Post Review
  script(src='/javascripts/rateRecipe.js' type="module" defer)
