/* background layout */
.body {
  background-color: white;
}

/*navbar styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  padding: 10px;
  align-content: center;
  height: 120px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  /* border-bottom: 1px solid grey; */
  /* box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1); */
  /* border-radius: 10px; */
  /* background-color: rgb(46, 1, 1); */
}

.navbar__logo {
  margin-left: -20px;
}

.navbar__text {
  font-size: 24px;
  margin: 10px;
}

.navbar__link {
  font-size: 20px;
}

.navbar__container-right .navbar__link {
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  padding: 4px;
  height: 30px;
  border-radius: 5px;
}

.navbar__container {
  display: flex;
  margin: 15px;
  padding: 10px;
  align-items: center;
}

.navbar__container-left {
  display: flex;
  justify-content: start;
}

.navbar__container-right {
  display: flex;
  justify-content: end;
}

.searchForm {
  display: inline;
  box-sizing: border-box;
}

.searchbar {
  border-radius: 5px;
}

#searchBar {
  box-sizing: border-box;
  height: 28px;
}

#searchIcon {
  box-sizing: border-box;
  height: 28px;
  box-shadow: 1px 1px 2px 1px rgba(10, 128, 238, 0.25);
  background-color: #d54215;
  font-weight: bold;
}

/*main section styling*/
.mainBody {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "userCol recipeCol newsCol";
}

.mainBody__mainColumn {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 1px 15px;
  padding: 10px;
  align-items: center;
}

.mainBody__userColumn {
  grid-area: userCol;
  padding-left: 20px
}

.mainBody__recipeColumn {
  grid-area: recipeCol;
}

.mainBody__newsColumn {
  grid-area: newsCol;
  padding-right: 20px
}

.mainBody__userColumn > .recipeImage {
  height:auto;
  width: 75%;
}

.mainBody__recipeColumn > .recipeImage {
  height:auto;
  width: 50%;
}
