.main-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.recipe-card {
  border: 1px solid black;
  margin: 15px;
}

.recipe-title {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
}

.recipe-card {
  display: grid;
  height: 18.5rem;
  width: 30%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    'recipeImg recipeTxt';
  background-color: #e7e0d6;
}

.image-container {
  grid-area: recipeImg;
  margin: 10px 0px 0px 0px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image-container__recipe-save > .rating {
  display: flex;
  justify-content: center;
}

.image-container__recipe-save > .save-cook-favorite-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.recipe-image > img{
  width: 90%;
  height: auto;
}

.recipe-content {
  grid-area: recipeTxt;
  margin: 5px;
  padding: 5px;
  overflow:auto;
}
.recipe-description {
  text-align: left;
}
/* .image-container__recipe-save {
  grid-area: recipeSave;
} */

.recipe-content__recipe-author {
  margin: 4px;
}

.no_recipes{
  margin: auto;
}
