body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

a:hover {
  color: #ec4c4c;
}

.navbar__button:hover {
  color: white;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar__button,
.registration-form button,
.login-form button,
.login-form .button {
  background-color: #ec4c4c;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
  font-size: 20px;
}

.recipe-cooked,
.recipe-saved,
.recipe-favorited {
  border-radius: 5px;
}

button {
  background-color: #ec4c4c;
  border-radius: 5px;
}

.core-display {
  background-color: #f4f2f3;
}

form {
  padding: 12px 0px;
  margin: 8px;
  box-sizing: border-box;
}

.form-label {
  width: 20%;
  box-sizing: border-box;
  margin: 8px 0px 8px 0px;
}

.form-input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0px 8px 0px;
  box-sizing: border-box;
}
.hidden {
  visibility: hidden;
}

.errors {
  background-color: #f0d2d2;
  width: 20%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid black;
}
