body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
}

<<<<<<< HEAD
h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
=======
h1,
h2,
h3,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
>>>>>>> main
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar__button,
.button {
  background-color: #ec4c4c;
}

.core-display {
  background-color: #f4f2f3;
}
