body > .review-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.review-page__review-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-page__review-container > .review-info-container {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    border-bottom: 0.5px solid grey;
    width: 100%;
}

.review-image {
    height: 100px;

}

.review-form{
    width: 100%;
    text-align: left;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.review-content__textarea {
    width: 100%;
    height: 250px;
}

.review-info__review-title{
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0rem 1rem 0rem 1rem;
}

.review-rating{
    display: flex;
    align-items: center;
}

.review-rating_flex-item{
    padding: 0rem 0.5rem 0rem 0rem;
}
